<style>
            * {
            box-sizing: border-box;
              }

       /* 或者 visibility: hidden; */
        #yourFrameId {
            display: none; 
        }
        
       .cities {
            background-color:white;
            color:rgb(147, 142, 147);
            margin:10px;
            padding:40px;
            font-size: 0.7em;
            margin-left: 500px;
            text-align: right;
        } 

       /* 全局样式 */
        body {
            margin: 0;
        }

      

        main {
            max-width: 600px;
            margin: 30px 360px;
            padding:30px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.);
        }


        p {
            margin-bottom: 15px;
            color:#a9a4a4;
        }  
        p.light {
            font-weight: lighter;
            letter-spacing: 0.01em; /* Set letter spacing to 0.1em */
            line-height: 2.0; /* Adjust line height as needed */
            font-size: 40vx;
            color:#b9b9b9
        } 
        p.italic {
            font-style: italic;
            font-weight: bolder;
            line-height: 6.0; /* Adjust line height as needed */
            color:#939393
            
        }   
        p.thicker {
            font-weight: bold;
            color:#6c6666;
        }

        .blackline {
            border-bottom: 2px solid black; /* 设置横线为黑色，粗细为2px */
            width:95%; /* 控制横线的长度为容器的50% */
        }
        .blacklinenavcar {
            border-bottom: 2px solid black; /* 设置横线为黑色，粗细为2px */
            width: 230%; /* 控制横线的长度为容器的50% */
        }

       /* 导航栏样式 */
       .navbar {
            font-size: 1.8em;
            font-weight: 500;
            letter-spacing:0.001em; /* 设置字距为 2 像素 */
            font-family:"Anek Devanagari";
            background-color: rgba(0, 0, 0, 0.); /* 透明背景 */
            padding: 15px 0;
            margin-top: 30px;
            margin-left: 58px;
            text-align: left;
        }

       /* 导航项样式 */
       .navbar a {
            text-decoration: none;
            color: black;
            padding: 10px 15px;
            display: inline-block;
        }

       /* 悬停时的导航项样式 */
       .navbar a:hover {
            background-color: rgba(157, 255, 29, 0.5); /* 半透明白色背景 */
            color: black;
        }

          ul.apple {
            list-style-type: circle;
          }

          
          .column {
            float: left;
            padding-left: 20px;
            padding-top:30px;
            padding-right: 60px;
            padding-bottom: 20px;
          }
          
          /* Left column */
          .column.side {
            width:15%;
            max-width: calc(200px ); 
            background-color: #befa8d; /* 主要内容列的背景颜色 */
            color: black; /* 设置文字颜色为黑色 */
            font-size:15px;
            letter-spacing:1px;
            margin-top:0px;
            margin-left: 60px;
            text-align: left;
            font-family: "Anek Devanagari";
            font-style: italic;
            font-weight: bold;
          }
          /* 覆盖超链接的颜色为黑色 */
        .column.side a {
            color: black !important;
          }
          
          /* Middle column */
          .column.middle {
            width:60%;
            max-width: calc(220px * 3 + 30px * 2 + 50px ); /* 最大不超过3列 */
            font-family: "Anek Devanagari", Courier, monospace;
            color:rgb(45, 45, 45);
            padding-top:0px;
            padding-right:0px;
            background-color: #ffffff; /* 主要内容列的背景颜色 */
            margin-bottom: 80px; /* 设置与 footer 之间的距离为 80px */
          }
          
            /* Right column */
            .column.right {
                width:260px;
                max-width: calc(250px );
                background-color: #ffffff42; /* 主要内容列的背景颜色 */
                color: black; /* 设置文字颜色为黑色 */
                font-size:12px;
                letter-spacing:2px;
                margin-top:0px;
                margin-left: 20px; /* 设置左边距与 .column.middle 一致 */
                margin-right: 60px;
                padding: 10px; /* 设置内边距为 10px */
                text-align: left;
                font-family: "Anek Devanagari";
                word-wrap: break-word;
              }
          
          /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
          @media screen and (max-width: 600px) {
            .column.side {
                display: none; /* 隐藏左边部分 */
              }
            
              .column.middle {
                width: 100%; /* 中间部分占据整个屏幕宽度 */
              }
              .column.right{
                display: none; /* 隐藏左边部分 */
              }
            }

        picture big body {
            margin-left: 0; /* 重置 body 的默认边距 */
          }

       picture body {
            display: flex;
            align-items: center;
            justify-content: center;
            height:3000vh;
            overflow: hidden;
            margin-left: 3000px;
        }

        .image-container {
            display: flex;
            position: relative;
            align-items: center;
            width: 1500px; 
            height: 1000px;
            margin-top: 0px;
            margin-left: 20px;
            margin-right: 20px;
            padding: 10px;
            overflow: hidden; /* 隐藏溢出部分 */
        }

        .image-container-footer {
            display: flex;
            width: 0.001cm; 
            height: 0.01cm;
            margin-right: 10px; /* 设置图片之间的右侧间距 */
        }

        .image-container img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: none; /* 默认隐藏所有图片 */
        }

        .image-container img.active {
            display: block; /* 显示当前活动图片 */
        }

       
        div.gallery {
            width: 200px;/* 宽 */
            height:200px;/* 高 */
            margin: 80px 20px 0; /* 上边距100px，左右边距20px，下边距0 */
            border: 3px solid #ffffff;/* 边框 */
            float: left;
            position: relative; /* 设置相对定位 */
          }
        
          div.gallery:hover {
            border: 3px solid #caff89;
          }
          
          div.gallery img {
            width: auto; /* 保持图片原始宽度 */
            height: auto; /* 保持图片原始高度 */
            max-width: 100%; /* 最大宽度为方框宽度 */
            max-height: 100%; /* 最大高度为方框高度 */
            display: block; /* 将图片设置为块级元素 */
            position: absolute; /* 设置绝对定位 */
            top: 50%; /* 将图片的顶部与方框的中央对齐 */
            left: 50%; /* 将图片的左侧与方框的中央对齐 */
            transform: translate(-50%, -50%); /* 使用transform属性将图片向左上方移动自身宽高的一半，以使其居中对齐 */
        }
          
        div.desc {
            position: absolute; /* 设置绝对定位 */
            bottom: -60px; /* 紧贴底部 */
            left: 0; /* 对齐左侧 */
            right: 0; /* 对齐右侧 */
            padding: 10px; /* 调整文字与边框的间距 */
            text-align: center;
            font-size: 0.8em; /* 缩小字体 */
        }

        .controls {
            position: absolute;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 10px;
            justify-content: center; 
        }

        .NOcontrol-dot {
            width: 10px;
            height: 10px;
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            cursor: pointer;
        }

        .NOcontrol-dot.active {
            background-color: rgba(220, 195, 195, 0.2);
        }



       body {
            font-family: 'Arial', sans-serif;
            position: relative;
        }

        #translation-buttons {
            position: fixed;
            top: 10px;
            right: 10px;
        }

        #footer {
            background-color:rgb(85, 85, 85);
            font-size:small;
            color:rgb(184, 184, 184);
            clear:both;
            text-align:left;
            padding:60px;	
            	 
        }
        .about-link {
            color: rgb(169, 169, 169); /* 设置链接文字颜色为黑色 */
            text-decoration: none; /* 去除下划线 */
            float: right;
        }
        

      
          li {
            float: left;
          }
          
          li a, .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
          
          li.dropdown {
            display: inline-block;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          
          .dropdown-content a:hover {background-color: #f1f1f1;}
          
          .dropdown:hover .dropdown-content {
            display: block;
          }

          ul {
            list-style-type: none;
            padding: 0px;
        }

        li a {
            text-decoration: none;
            color: rgb(104, 102, 102);
            font-style: italic;
            font-size: 50vx; /* Set font size to 3em */
            font-family: 'Arial Black', sans-serif; /* Use bold font */
            font-weight: bold;
            line-height: 1.5; /* Adjust line height as needed */
            letter-spacing: 0.05em; /* Set letter spacing to 0.1em */
            transition: background-color 0.3s;
        }

        li a:hover {
            background-color: rgba(157, 255, 29, 0.5); /* Light green on hover */
        }

    </style>